@import '~styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: color(var(--color-white));
  margin-bottom: 50px;

  h1 {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    background-color: color(var(--color-second));
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;

    input {
      font-size: 1rem;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid color(var(--color-white));
      border-radius: 4px;

      &:focus {
        outline: none;
        color: color(var(--color-white));
        box-shadow: 0 0 0 2px rgba(0,123,255,.25);
      }
    }

    button {
      font-size: 1rem;
      padding: 0.6rem;
      color: color(var(--color-white));
      background-color: color(var(--color-second));
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: color(var(--color-second));
      }
    }
  }

  p {
    color: color(var(--color-white));
    font-size: 0.9rem;
  }
}
